<div class="index-wrap">
    <div class="index-header">
        望京SOHO
    </div>
    <div class="index-center">
      <div class="index-menu">
        <div class="index-menu-list active">
          热销
        </div>
        <div class="index-menu-list">
          国产水果
        </div>
      </div>
      <div class="index-goodsList">
        <div class="index-goodsList-item">
          <div class="goodsImg">
            <img src="resource/img/goods.png">
          </div>
          <div class="goodsContent">
            <div class="title">
              死胖子还吃呢，该减肥了
            </div>
            <div class="tip">
              精选
            </div>
            <div class="standard">
              200-300g
            </div>
            <div class="price">
              <span ng-bind="9.9 | number: 2 | currency: '¥'"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 底部 -->
    <footer></footer>
    <loading></loading>
</div>
