<div class="order-wrap">
    <div class="order-item">
      <div class="title">
        <div class="time">
          2016-02-02 02:00:00
        </div>
        <div class="">
          取货码：1111
        </div>
      </div>
      <div class="content">
        <div class="">
          <img src="resource/img/goods.png" alt="" />
          <img src="resource/img/goods.png" alt="" />
        </div>
        <i class="iconfont">&#xe605;</i>
      </div>
      <div class="price">
        共两件商品 <span ng-bind="20 | number: 2 | currency: '¥'"><span>
      </div>
      <div class="btnItem">
        <div class="btn">
          取消订单
        </div>
      </div>
    </div>
    <div class="order-item">
      <div class="title">
        <div class="time">
          2016-02-02 02:00:00
        </div>
        <div class="">
          取货码：1111
        </div>
      </div>
      <div class="content">
        <div class="">
          <img src="resource/img/goods.png" alt="" />
        </div>
        <i class="iconfont">&#xe605;</i>
      </div>
      <div class="price">
        共两件商品 <span ng-bind="20 | number: 2 | currency: '¥'"><span>
      </div>
      <div class="btnItem">
        <div class="btn">
          去支付
        </div>
        <div class="btn">
          取消订单
        </div>
      </div>
    </div>
</div>
