@import "tool.scss";
.gopng_logo1_outer {
height: 170px;
width: 168px;
overflow: hidden;
}
.gopng_logo1 {
background: url(/app/resource/img/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_cart_outer {
height: 138px;
width: 138px;
overflow: hidden;
}
.gopng_cart {
background: url(/app/resource/img/sprite.png) -168px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 168px;
_margin-left: -168px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify02_outer {
height: 78px;
width: 30px;
overflow: hidden;
}
.gopng_classify02 {
background: url(/app/resource/img/sprite.png) -306px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 306px;
_margin-left: -306px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_ensure_outer {
height: 78px;
width: 78px;
overflow: hidden;
}
.gopng_ensure {
background: url(/app/resource/img/sprite.png) -336px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 336px;
_margin-left: -336px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_chuangye_outer {
height: 78px;
width: 78px;
overflow: hidden;
}
.gopng_chuangye {
background: url(/app/resource/img/sprite.png) -414px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 414px;
_margin-left: -414px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_order_outer {
height: 78px;
width: 78px;
overflow: hidden;
}
.gopng_order {
background: url(/app/resource/img/sprite.png) -492px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 492px;
_margin-left: -492px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_point_outer {
height: 78px;
width: 78px;
overflow: hidden;
}
.gopng_point {
background: url(/app/resource/img/sprite.png) -0px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify06_outer {
height: 77px;
width: 33px;
overflow: hidden;
}
.gopng_classify06 {
background: url(/app/resource/img/sprite.png) -78px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 78px;
_margin-left: -78px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify05_outer {
height: 76px;
width: 72px;
overflow: hidden;
}
.gopng_classify05 {
background: url(/app/resource/img/sprite.png) -111px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 111px;
_margin-left: -111px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tuijian_outer {
height: 76px;
width: 76px;
overflow: hidden;
}
.gopng_tuijian {
background: url(/app/resource/img/sprite.png) -183px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 183px;
_margin-left: -183px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify04_outer {
height: 73px;
width: 34px;
overflow: hidden;
}
.gopng_classify04 {
background: url(/app/resource/img/sprite.png) -259px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 259px;
_margin-left: -259px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify03_outer {
height: 68px;
width: 48px;
overflow: hidden;
}
.gopng_classify03 {
background: url(/app/resource/img/sprite.png) -293px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 293px;
_margin-left: -293px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify5_outer {
height: 60px;
width: 56px;
overflow: hidden;
}
.gopng_classify5 {
background: url(/app/resource/img/sprite.png) -306px -78px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 306px;
_margin-left: -306px;
_padding-top: 78px;
_margin-top: -78px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_fengqiang_outer {
height: 60px;
width: 89px;
overflow: hidden;
}
.gopng_fengqiang {
background: url(/app/resource/img/sprite.png) -362px -78px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 362px;
_margin-left: -362px;
_padding-top: 78px;
_margin-top: -78px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify4_outer {
height: 58px;
width: 25px;
overflow: hidden;
}
.gopng_classify4 {
background: url(/app/resource/img/sprite.png) -570px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 570px;
_margin-left: -570px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify6_outer {
height: 58px;
width: 27px;
overflow: hidden;
}
.gopng_classify6 {
background: url(/app/resource/img/sprite.png) -451px -78px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 451px;
_margin-left: -451px;
_padding-top: 78px;
_margin-top: -78px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify3_outer {
height: 58px;
width: 41px;
overflow: hidden;
}
.gopng_classify3 {
background: url(/app/resource/img/sprite.png) -478px -78px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 478px;
_margin-left: -478px;
_padding-top: 78px;
_margin-top: -78px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify2_outer {
height: 57px;
width: 22px;
overflow: hidden;
}
.gopng_classify2 {
background: url(/app/resource/img/sprite.png) -519px -78px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 519px;
_margin-left: -519px;
_padding-top: 78px;
_margin-top: -78px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_bag_outer {
height: 54px;
width: 54px;
overflow: hidden;
}
.gopng_bag {
background: url(/app/resource/img/sprite.png) -541px -78px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 541px;
_margin-left: -541px;
_padding-top: 78px;
_margin-top: -78px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_close_outer {
height: 54px;
width: 54px;
overflow: hidden;
}
.gopng_close {
background: url(/app/resource/img/sprite.png) -341px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 341px;
_margin-left: -341px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_logo_outer {
height: 54px;
width: 55px;
overflow: hidden;
}
.gopng_logo {
background: url(/app/resource/img/sprite.png) -395px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 395px;
_margin-left: -395px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_safe_outer {
height: 52px;
width: 42px;
overflow: hidden;
}
.gopng_safe {
background: url(/app/resource/img/sprite.png) -450px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 450px;
_margin-left: -450px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_address-act_outer {
height: 50px;
width: 40px;
overflow: hidden;
}
.gopng_address-act {
background: url(/app/resource/img/sprite.png) -492px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 492px;
_margin-left: -492px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_yongjin_outer {
height: 50px;
width: 50px;
overflow: hidden;
}
.gopng_yongjin {
background: url(/app/resource/img/sprite.png) -532px -170px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 532px;
_margin-left: -532px;
_padding-top: 170px;
_margin-top: -170px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_collection-act_outer {
height: 50px;
width: 50px;
overflow: hidden;
}
.gopng_collection-act {
background: url(/app/resource/img/sprite.png) -0px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify01_outer {
height: 50px;
width: 67px;
overflow: hidden;
}
.gopng_classify01 {
background: url(/app/resource/img/sprite.png) -50px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 50px;
_margin-left: -50px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_information_outer {
height: 49px;
width: 39px;
overflow: hidden;
}
.gopng_information {
background: url(/app/resource/img/sprite.png) -117px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 117px;
_margin-left: -117px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_friends_outer {
height: 49px;
width: 57px;
overflow: hidden;
}
.gopng_friends {
background: url(/app/resource/img/sprite.png) -156px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 156px;
_margin-left: -156px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_erweima_outer {
height: 48px;
width: 48px;
overflow: hidden;
}
.gopng_erweima {
background: url(/app/resource/img/sprite.png) -213px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 213px;
_margin-left: -213px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_qijiandian_outer {
height: 48px;
width: 48px;
overflow: hidden;
}
.gopng_qijiandian {
background: url(/app/resource/img/sprite.png) -261px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 261px;
_margin-left: -261px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_card_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_card {
background: url(/app/resource/img/sprite.png) -309px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 309px;
_margin-left: -309px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_orderlog_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_orderlog {
background: url(/app/resource/img/sprite.png) -356px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 356px;
_margin-left: -356px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_module_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_module {
background: url(/app/resource/img/sprite.png) -403px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 403px;
_margin-left: -403px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tuiguang_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_tuiguang {
background: url(/app/resource/img/sprite.png) -450px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 450px;
_margin-left: -450px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_card-inform_outer {
height: 47px;
width: 47px;
overflow: hidden;
}
.gopng_card-inform {
background: url(/app/resource/img/sprite.png) -497px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 497px;
_margin-left: -497px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_address2_outer {
height: px2rem(46px);
width: px2rem(40px);
overflow: hidden;
}
.gopng_address2 {
background: url(/app/resource/img/sprite.png) -544px -248px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 544px;
_margin-left: -544px;
_padding-top: 248px;
_margin-top: -248px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_minus_outer {
height: 46px;
width: 46px;
overflow: hidden;
}
.gopng_minus {
background: url(/app/resource/img/sprite.png) -0px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_add_outer {
height: 46px;
width: 46px;
overflow: hidden;
}
.gopng_add {
background: url(/app/resource/img/sprite.png) -46px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 46px;
_margin-left: -46px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_collection_outer {
height: 46px;
width: 47px;
overflow: hidden;
}
.gopng_collection {
background: url(/app/resource/img/sprite.png) -92px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 92px;
_margin-left: -92px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-near_outer {
height: 45px;
width: 44px;
overflow: hidden;
}
.gopng_tab-near {
background: url(/app/resource/img/sprite.png) -139px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 139px;
_margin-left: -139px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-near-act_outer {
height: 45px;
width: 45px;
overflow: hidden;
}
.gopng_tab-near-act {
background: url(/app/resource/img/sprite.png) -183px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 183px;
_margin-left: -183px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-my_outer {
height: 44px;
width: 44px;
overflow: hidden;
}
.gopng_tab-my {
background: url(/app/resource/img/sprite.png) -228px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 228px;
_margin-left: -228px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-my-act_outer {
height: 44px;
width: 44px;
overflow: hidden;
}
.gopng_tab-my-act {
background: url(/app/resource/img/sprite.png) -272px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 272px;
_margin-left: -272px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-cart_outer {
height: 43px;
width: 39px;
overflow: hidden;
}
.gopng_tab-cart {
background: url(/app/resource/img/sprite.png) -316px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 316px;
_margin-left: -316px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_detail-bag_outer {
height: 43px;
width: 39px;
overflow: hidden;
}
.gopng_detail-bag {
background: url(/app/resource/img/sprite.png) -355px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 355px;
_margin-left: -355px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-cart-act_outer {
height: 43px;
width: 39px;
overflow: hidden;
}
.gopng_tab-cart-act {
background: url(/app/resource/img/sprite.png) -394px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 394px;
_margin-left: -394px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_jaimeng_outer {
height: 43px;
width: 47px;
overflow: hidden;
}
.gopng_jaimeng {
background: url(/app/resource/img/sprite.png) -433px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 433px;
_margin-left: -433px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tuihuo_outer {
height: 41px;
width: 29px;
overflow: hidden;
}
.gopng_tuihuo {
background: url(/app/resource/img/sprite.png) -480px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 480px;
_margin-left: -480px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_cellphone_outer {
height: 41px;
width: 30px;
overflow: hidden;
}
.gopng_cellphone {
background: url(/app/resource/img/sprite.png) -509px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 509px;
_margin-left: -509px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_password_outer {
height: 40px;
width: 33px;
overflow: hidden;
}
.gopng_password {
background: url(/app/resource/img/sprite.png) -539px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 539px;
_margin-left: -539px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_del_outer {
height: 40px;
width: 38px;
overflow: hidden;
}
.gopng_del {
background: url(/app/resource/img/sprite.png) -0px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_rizhi_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
.gopng_rizhi {
background: url(/app/resource/img/sprite.png) -38px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 38px;
_margin-left: -38px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_menu-search-act_outer {
height: 40px;
width: 46px;
overflow: hidden;
}
.gopng_menu-search-act {
background: url(/app/resource/img/sprite.png) -78px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 78px;
_margin-left: -78px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_menu-search_outer {
height: 40px;
width: 46px;
overflow: hidden;
}
.gopng_menu-search {
background: url(/app/resource/img/sprite.png) -124px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 124px;
_margin-left: -124px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_edit_outer {
height: 39px;
width: 33px;
overflow: hidden;
}
.gopng_edit {
background: url(/app/resource/img/sprite.png) -170px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 170px;
_margin-left: -170px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_fahuo_outer {
height: 40px;
width: 39px;
// overflow: hidden;
}
.gopng_fahuo {
background: url(/app/resource/img/sprite.png) -203px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 203px;
_margin-left: -203px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_share_outer {
height: 39px;
width: 41px;
overflow: hidden;
}
.gopng_share {
background: url(/app/resource/img/sprite.png) -242px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 242px;
_margin-left: -242px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-home_outer {
height: 39px;
width: 45px;
overflow: hidden;
}
.gopng_tab-home {
background: url(/app/resource/img/sprite.png) -283px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 283px;
_margin-left: -283px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_tab-home-act_outer {
height: 39px;
width: 45px;
overflow: hidden;
}
.gopng_tab-home-act {
background: url(/app/resource/img/sprite.png) -328px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 328px;
_margin-left: -328px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_detail-index_outer {
height: 39px;
width: 45px;
overflow: hidden;
}
.gopng_detail-index {
background: url(/app/resource/img/sprite.png) -373px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 373px;
_margin-left: -373px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_wallet_outer {
height: 38px;
width: 35px;
overflow: hidden;
}
.gopng_wallet {
background: url(/app/resource/img/sprite.png) -418px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 418px;
_margin-left: -418px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_check-act_outer {
height: 37px;
width: 37px;
overflow: hidden;
}
.gopng_check-act {
background: url(/app/resource/img/sprite.png) -453px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 453px;
_margin-left: -453px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_wallet2_outer {
height: 37px;
width: 37px;
overflow: hidden;
}
.gopng_wallet2 {
background: url(/app/resource/img/sprite.png) -490px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 490px;
_margin-left: -490px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_shouhuo_outer {
height: 37px;
width: 37px;
overflow: hidden;
}
.gopng_shouhuo {
background: url(/app/resource/img/sprite.png) -527px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 527px;
_margin-left: -527px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_pingjiastar-act_outer {
height: 37px;
width: 41px;
overflow: hidden;
}
.gopng_pingjiastar-act {
background: url(/app/resource/img/sprite.png) -0px -384px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_pingjiastar_outer {
height: 37px;
width: 41px;
overflow: hidden;
}
.gopng_pingjiastar {
background: url(/app/resource/img/sprite.png) -41px -384px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 41px;
_margin-left: -41px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_evaluated_outer {
height: 36px;
width: 39px;
overflow: hidden;
}
.gopng_evaluated {
background: url(/app/resource/img/sprite.png) -82px -384px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 82px;
_margin-left: -82px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_classify1_outer {
height: 36px;
width: 48px;
overflow: hidden;
}
.gopng_classify1 {
background: url(/app/resource/img/sprite.png) -121px -384px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 121px;
_margin-left: -121px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_address3_outer {
height: 34px;
width: 28px;
overflow: hidden;
}
.gopng_address3 {
background: url(/app/resource/img/sprite.png) -572px -298px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 572px;
_margin-left: -572px;
_padding-top: 298px;
_margin-top: -298px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_pay_outer {
height: 34px;
width: 41px;
//overflow: hidden;
}
.gopng_pay {
background: url(/app/resource/img/sprite.png) -169px -384px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 169px;
_margin-left: -169px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_search-icon_outer {
height: 33px;
width: 33px;
overflow: hidden;
}
.gopng_search-icon {
background: url(/app/resource/img/sprite.png) -564px -344px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 564px;
_margin-left: -564px;
_padding-top: 344px;
_margin-top: -344px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_alipay_outer {
height: 33px;
width: 34px;
overflow: hidden;
}
.gopng_alipay {
background: url(/app/resource/img/sprite.png) -210px -384px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 210px;
_margin-left: -210px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_huiyuan_outer {
height: 32px;
width: 32px;
overflow: hidden;
}
.gopng_huiyuan {
background: url(/app/resource/img/sprite.png) -168px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 168px;
_margin-left: -168px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_weixinpay_outer {
height: 31px;
width: 36px;
overflow: hidden;
}
.gopng_weixinpay {
background: url(/app/resource/img/sprite.png) -200px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 200px;
_margin-left: -200px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_round_outer {
height: 30px;
width: 30px;
overflow: hidden;
}
.gopng_round {
background: url(/app/resource/img/sprite.png) -236px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 236px;
_margin-left: -236px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_radio-act_outer {
height: 30px;
width: 30px;
overflow: hidden;
}
.gopng_radio-act {
background: url(/app/resource/img/sprite.png) -266px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 266px;
_margin-left: -266px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_return_outer {
height: 29px;
width: 16px;
overflow: hidden;
}
.gopng_return {
background: url(/app/resource/img/sprite.png) -296px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 296px;
_margin-left: -296px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_right_outer {
height: 29px;
width: 16px;
overflow: hidden;
}
.gopng_right {
background: url(/app/resource/img/sprite.png) -312px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 312px;
_margin-left: -312px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_address_outer {
height: 28px;
width: 23px;
overflow: hidden;
}
.gopng_address {
background: url(/app/resource/img/sprite.png) -328px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 328px;
_margin-left: -328px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_phone_outer {
height: 28px;
width: 27px;
overflow: hidden;
}
.gopng_phone {
background: url(/app/resource/img/sprite.png) -351px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 351px;
_margin-left: -351px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_distance_outer {
height: 28px;
width: 29px;
overflow: hidden;
}
.gopng_distance {
background: url(/app/resource/img/sprite.png) -378px -138px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 378px;
_margin-left: -378px;
_padding-top: 138px;
_margin-top: -138px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_top_outer {
height: 10px;
width: 15px;
overflow: hidden;
}
.gopng_top {
background: url(/app/resource/img/sprite.png) -570px -58px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 570px;
_margin-left: -570px;
_padding-top: 58px;
_margin-top: -58px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
.gopng_bottom_outer {
height: 10px;
width: 15px;
overflow: hidden;
}
.gopng_bottom {
background: url(/app/resource/img/sprite.png) -585px -58px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 585px;
_margin-left: -585px;
_padding-top: 58px;
_margin-top: -58px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="/app/resource/img/sprite.png");
}
