<div class="address-wrap">
    <div class="">
      <header><header>
    </div>
    <div class="address">
      <div class="">
        定位地址：<span>望京SOHO</span>
      </div>
      <div class="">
        <i class="iconfont">&#xe607;</i>
      </div>
    </div>
    <div class="address-list">
      <div class="address-item">
        <div class="left">
          <div class="top">
            <div class="account">
              测试账号
            </div>
            <div class="number">
              13988888888
            </div>
          </div>
          <div class="bottom">
            望京地区 呵呵哒小区 4号楼1单元666室
          </div>
        </div>
        <div class="right">
          <i class="iconfont" ui-sref="editAddress">&#xe608;</i>
        </div>
      </div>
    </div>
    <div class="addAddress">
      <div class="addBtn">
        + 添加地址
      </div>
    </div>
</div>
